<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.iob.user.repository.mybatis.UserDAO">

    <select id="findByEmail" parameterType="java.lang.String" resultType="com.project.iob.user.entity.User">
        SELECT 
            email, 
            nickname,
            password, 
            provider_code, 
            provider_id,
            profile_image_url,
            user_status_code,
            CASE role_code 
    WHEN '01' THEN 'USER' 
    WHEN '02' THEN 'ADMIN' 
END AS role_code,
            fcm_token,
            terms_agreed_yn,
            privacy_agreed_yn,
            terms_agreed_at		AS termsAgreedAt,
            created_at			AS createdAt,
            deleted_at			AS deletedAt,
            last_login_at	    AS lastLoginAt
        FROM users
        WHERE email = #{email}
    </select>
    
    <update id="updateFcmToken" parameterType="com.project.iob.user.entity.User">
        UPDATE users
        SET fcm_token = #{fcmToken}
        WHERE email = #{email}
	</update>
	
	<update id="clearFcmToken" parameterType="com.project.iob.user.entity.User">
        UPDATE users
        SET fcm_token = ''
        WHERE email = #{email}
    </update>
</mapper>
    