<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.iob.user.repository.mybatis.UserDAO">

    <select id="findByEmail" parameterType="java.lang.String" resultType="com.project.iob.user.entity.User">
    	/*mapper.user.UserMapper.findByEmail */
        SELECT 
            email, 
            nickname,
            password, 
            provider_code, 
            provider_id,
            profile_image_url,
            user_status_code,
            role_code,
            fcm_token,
            terms_agreed_yn,
            privacy_agreed_yn,
            terms_agreed_at		AS termsAgreedAt,
            created_at			AS createdAt,
            deleted_at			AS deletedAt,
            last_login_at	    AS lastLoginAt
        FROM users
        WHERE email = #{email}
    </select>
    
    <update id="updateFcmToken" parameterType="com.project.iob.user.entity.User">
    	/*mapper.user.UserMapper.updateFcmToken */
        UPDATE users
        SET fcm_token = #{fcmToken}
        	, last_login_at = CURRENT_TIMESTAMP
        WHERE email = #{email}
	</update>
	
	<update id="clearFcmToken" parameterType="String">
		/*mapper.user.UserMapper.updateFcmToken */
        UPDATE users
        SET fcm_token = ''
        WHERE email = #{email}
    </update>
    
    <select id="findUserCount" parameterType="com.project.iob.user.dto.UserRequestDto" resultType="Integer">
    	/*mapper.user.UserMapper.findUserCount */
        SELECT 
            count(*) AS count
        FROM users
        WHERE
        	1=1
        	AND ROLE_CODE = '01'
        <if test="email != null and email != ''">
	        AND email like CONCAT('%', #{email}, '%')
	    </if>
	    <if test="userStatusCode != null and userStatusCode != ''">
	        AND user_status_code = #{userStatusCode}
	    </if>
        <if test="oneMonthAgo != null and today != null">
        	AND created_at between STR_TO_DATE(CONCAT(#{oneMonthAgo},' 00:00:00'), '%Y-%m-%d %H:%i:%s') and STR_TO_DATE(CONCAT(#{today},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        </if>
    </select>
    
    <select id="findUserList" parameterType="com.project.iob.user.dto.UserRequestDto" resultType="com.project.iob.user.dto.UserResponseDto">
	    /*mapper.user.UserMapper.findUserList */
	    SELECT u.EMAIL			AS email
	        , u.NICKNAME			AS nickname
	        , u.PROVIDER_CODE		AS providerCode
	        , u.PROFILE_IMAGE_URL	AS profileImageUrl
	        , u.USER_STATUS_CODE	AS userStatusCode
	        , u.ROLE_CODE			AS roleCode
	        , u.TERMS_AGREED_YN		AS termsAgreedYn
	        , u.PRIVACY_AGREED_YN	AS privacyAgreedYn
	        , u.CREATED_AT			AS createdAt
	        , u.UPDATED_AT			AS updatedAt
	        , u.DELETED_AT			AS deletedAt
	        , u.LAST_LOGIN_AT		AS lastLoginAt
	        <if test="offset == null">
	        , 0 AS postCnt
	        </if>
	        <if test="offset != null">
	        , (SELECT COUNT(*) FROM posts WHERE USER_EMAIL = u.EMAIL) AS postCnt
	        </if>
	    FROM users u
	    WHERE 1=1
	    	AND u.ROLE_CODE = '01'
	    <if test="email != null and email != ''">
	        AND u.email like CONCAT('%', #{email}, '%')
	    </if>
	    <if test="userStatusCode != null and userStatusCode != ''">
	        AND u.user_status_code = #{userStatusCode}
	    </if>
	    <if test="lastId != null">
	        AND u.CREATED_AT &lt; #{lastId}
	    </if>
	    ORDER BY u.CREATED_AT DESC
	    LIMIT #{size}
	    <if test="offset != null">
	    	OFFSET #{offset}
	    </if>
	</select>
	
	<update id="updateUserStatusCode" parameterType="com.project.iob.user.dto.UserRequestDto">
    	/*mapper.user.UserMapper.updateUserStatusCode */
        UPDATE users
        SET USER_STATUS_CODE = #{userStatusCode}
        	, UPDATED_AT = CURRENT_TIMESTAMP
        WHERE email = #{email}
	</update>
	
	<delete id="unsubscribe" parameterType="com.project.iob.user.dto.UnsubscribeRequestDto">
		/*mapper.user.UserMapper.unsubscribe */
		UPDATE users
        SET USER_STATUS_CODE = '03'
        , UPDATED_AT = CURRENT_TIMESTAMP
        , DELETED_REASON = #{reason}
		WHERE email = #{email}
	</delete>
</mapper>
    