# .env 파일 example
DB_URL=your-db-url-here localhost -> db
DB_USER=your-db-username-here
DB_PASSWORD_ENC=your-encrypted-db-password-here
DB_PASSWORD_RAW=your-raw-db-password-here
JASYPT_KEY=your-jasypt-key-here
SPRING_PROFILES_ACTIVE=dev