HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.dblwr
*.sdi
*.ibt
**/mysql_data/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env
bin/

!**/src/main/**/bin/
!**/src/test/**/bin/
