<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.iob.post.service.repository.mybatis.CommentDAO">

    <select id="findCommentCount" resultType="Integer" parameterType="com.project.iob.post.dto.CommentRequestDto">
    	/*mapper.user.CommentMapper.findCommentCount */
        SELECT 
            count(*) AS count
        FROM comments c LEFT OUTER JOIN users u ON c.USER_EMAIL = u.EMAIL
        WHERE
        	1=1
       	<if test="word != null and word != ''">
	    	AND (c.content like CONCAT('%', #{word}, '%') OR u.nickname like CONCAT('%', #{word}, '%'))
	    </if>
        <if test="delYn != null and delYn != ''">
	        AND c.DEL_YN = #{delYn}
	    </if>
        <if test="postId != null and postId != 0">
            AND c.post_id = #{postId}
        </if>
        <if test="today != null">
        	AND c.created_at between #{today}|' 00:00:00' and #{today}|' 23:59:59'
        </if>
    </select>
    
    <select id="findComments" parameterType="com.project.iob.post.dto.CommentRequestDto" resultType="com.project.iob.post.dto.CommentResponseDto">
    	/*mapper.user.CommentMapper.findComments */
    	SELECT c.COMMENT_ID			AS commentId
    		, c.POST_ID				AS postId
    		, c.USER_EMAIL			AS userEmail
    		, c.PARENT_COMMENT_ID	AS parentCommentId
    		, c.CONTENT				AS content
    		, c.DEL_YN				AS delYn
    		, c.CREATED_AT			AS createdAt
    		, c.UPDATED_AT			AS updatedAt
    		, c.DELETED_AT			AS deletedAt
    		, u.NICKNAME			AS nickname
    		, (SELECT title FROM posts WHERE post_id = c.post_id) AS title
    	FROM comments c LEFT OUTER JOIN users u ON c.USER_EMAIL = u.EMAIL
    	WHERE
    	    1=1
    	    <if test="word != null and word != ''">
		    	AND (c.content like CONCAT('%', #{word}, '%') OR u.nickname like CONCAT('%', #{word}, '%'))
		    </if>
    	    <if test="delYn != null and delYn != ''">
		        AND c.DEL_YN = #{delYn}
		    </if>
	        <if test="lastId != 0">
		        AND c.COMMENT_ID &lt; #{lastId}
		    </if>
		    ORDER BY c.COMMENT_ID DESC
	        LIMIT #{size}
		    <if test="offset != null">
		    	OFFSET #{offset}
		    </if>
    </select>
    
    <update id="updateCommentDelYn" parameterType="com.project.iob.post.dto.CommentRequestDto">
    	/*mapper.comment.ComemntMapper.updateCommentDelYn */
    	UPDATE comments set DEL_YN = #{delYn}, 
    			deleted_at = CURRENT_TIMESTAMP
    	WHERE COMMENT_ID = #{commentId}
    </update>
</mapper>