<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.iob.post.service.repository.mybatis.CommentDAO">

    <select id="findCommentCount" resultType="Integer">
    	/*mapper.user.CommentMapper.findCommentCount */
        SELECT 
            count(*) AS count
        FROM comments
        WHERE
        	1=1
        <if test="today != null">
        	AND created_at between #{today}|' 00:00:00' and #{today}|' 23:59:59'
        </if>
    </select>
</mapper>