<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.iob.post.service.repository.mybatis.PostDAO">

    <select id="find" parameterType="com.project.iob.post.dto.PostRequestDto" resultType="com.project.iob.post.dto.PostResponseDto">
    /*mapper.post.PostMapper.find */
    SELECT p.POST_ID          AS postId
        , p.USER_EMAIL        AS userEmail
        , p.CATEGORY_CODE     AS categoryCode
        , p.TITLE             AS title
        , p.CREATED_AT        AS createdAt
        , p.UPDATED_AT        AS updatedAt
        , p.DELETED_AT        AS deletedAt
        , u.NICKNAME          AS nickname
        , (SELECT COUNT(*) FROM likes WHERE TARGET_ID = p.POST_ID) AS likes
        , (SELECT COUNT(*) FROM comments WHERE POST_ID = p.POST_ID AND DEL_YN = 'N') AS comments
        , (SELECT image_url FROM post_images WHERE post_id = p.POST_ID AND del_yn = 'N' ORDER BY sort_order ASC LIMIT 1) AS thumbnail
        , p.DEL_YN             AS delYn
        , (SELECT report_status_code FROM reports WHERE TARGET_CODE = '01' AND TARGET_ID = p.POST_ID) AS reportStatusCode
        , (SELECT target_id FROM reports WHERE TARGET_CODE = '01' AND TARGET_ID = p.POST_ID) AS targetId
    FROM posts p LEFT OUTER JOIN users u ON p.USER_EMAIL = u.EMAIL
    WHERE 1=1
    <if test="word != null or word != ''">
    	AND (title like CONCAT('%', #{word}, '%') OR u.nickname like CONCAT('%', #{word}, '%'))
    </if>
    <if test="delYn == null or delYn == ''">
    	AND p.DEL_YN = 'N'
    </if>
    <if test="delYn != null and delYn != ''">
        AND p.DEL_YN = #{delYn}
    </if>
    <if test="categoryCode != null and categoryCode != ''">
        AND p.CATEGORY_CODE = #{categoryCode}
    </if>
    <if test="lastId != 0">
        AND p.POST_ID &lt; #{lastId}
    </if>
    ORDER BY p.POST_ID DESC
    LIMIT #{size}
    <if test="offset != null">
    	OFFSET #{offset}
    </if>
</select>

	<select id="findPostCount" parameterType="com.project.iob.post.dto.PostRequestDto" resultType="Integer">
    	/*mapper.post.PostMapper.findPostCount */
        SELECT 
            count(*) AS count
        FROM posts p LEFT OUTER JOIN users u ON p.USER_EMAIL = u.EMAIL
        WHERE
        	1=1
        <if test="word != null or word != ''">
	    	AND (title like CONCAT('%', #{word}, '%') OR u.nickname like CONCAT('%', #{word}, '%'))
	    </if>
        <if test="categoryCode != null and categoryCode != ''">
	        AND CATEGORY_CODE = #{categoryCode}
	    </if>
        <if test="delYn != null and delYn != ''">
	        AND DEL_YN = #{delYn}
	    </if>
        <if test="today != null and today != ''">
        	AND created_at between STR_TO_DATE(CONCAT(#{today},' 00:00:00'), '%Y-%m-%d %H:%i:%s') and STR_TO_DATE(CONCAT(#{today},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        </if>
    </select>
    
    <update id="updatePostDelYn" parameterType="com.project.iob.post.dto.PostRequestDto">
    	/*mapper.post.PostMapper.updatePostDelYn */
    	UPDATE posts set DEL_YN = #{delYn},
    		delete_id = #{deletedId},
    		deleted_at = CURRENT_TIMESTAMP
    	WHERE POST_ID = #{postId}
    </update>
</mapper>