<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.iob.post.service.repository.mybatis.PostDAO">

    <select id="find" parameterType="com.project.iob.post.dto.PostRequestDto" resultType="com.project.iob.post.dto.PostResponseDto">
    /*mapper.post.PostMapper.find */
    SELECT p.POST_ID          AS postId
        , p.USER_EMAIL        AS userEmail
        , p.CATEGORY_CODE     AS categoryCode
        , p.TITLE             AS title
        , p.CREATED_AT        AS createdAt
        , p.UPDATED_AT        AS updatedAt
        , u.NICKNAME          AS nickname
        , (SELECT COUNT(*) FROM likes WHERE TARGET_ID = p.POST_ID) AS likes
        , (SELECT COUNT(*) FROM comments WHERE POST_ID = p.POST_ID AND DEL_YN = 'N') AS comments
        , (SELECT image_url FROM post_images WHERE post_id = p.POST_ID AND del_yn = 'N' ORDER BY sort_order ASC LIMIT 1) AS thumbnail
        , p.DEL_YN             AS delYn
    FROM posts p JOIN users u ON p.USER_EMAIL = u.EMAIL
    WHERE p.DEL_YN = 'N'
    <if test="lastId != 0">
        AND p.POST_ID &lt; #{lastId}
    </if>
    ORDER BY p.POST_ID DESC
    LIMIT #{size}
</select>

	<select id="findPostCount" resultType="Integer">
    	/*mapper.post.PostMapper.findPostCount */
        SELECT 
            count(*) AS count
        FROM posts
        WHERE
        	1=1
        <if test="today != null">
        	AND created_at between STR_TO_DATE(CONCAT(#{today},' 00:00:00'), '%Y-%m-%d %H:%i:%s') and STR_TO_DATE(CONCAT(#{today},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        </if>
    </select>
</mapper>